@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container {
    display: flex;
    gap: 1rem;
    height: 100%;
  }
  
  .dashboard-sidebar {
    width: 25%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .dashboard-content {
    flex-grow: 1;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }